{% extends "base.html" %}

{% block title%}
    My Notes - Home
{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
        {% for note in user.note %}
            <li class="list-group-item">
                {{ note.id }}.
                {{ note.note }}
                <button type="button" class="btn float-end" id="btn-edit">
                    <a href="/edit-note/{{note.id}}"><span class="badge text-bg-secondary">Edit</span></a>
                </button>
                <button type="button" class="btn-close float-end" id="btn-close" onclick="deleteNote({{note.id}})"></button>
            </li>
        {% endfor %}
    </ul>
    <hr style="color: gray;">
    <form class="row gy-2 gx-3 align-items-center" method="POST">
        <textarea name="note" id="note" class="form-control"></textarea>
        <button type="submit" class="btn btn-primary">Add Note</button>
    </form>
{% endblock %}