{% extends "base.html" %}

{% block title%}
    My Notes - Sign Up
{% endblock %}

{% block content %}
    <div class="container" style="text-align: center;">
        <h1>Sign Up</h1>
    </div>
    <form method="post">
        <div class="mb-3">
            <label for="fullName" class="form-label">Name</label>
            <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="example@example.com">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password1" name="password1">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
{% endblock %}